Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer no.1

In [22]:
l=["ram",34.46,(2,3,4)]

In [25]:
l

['ram', 34.46, (2, 3, 4)]

In [23]:
l[0]

'ram'

In [24]:
type(l[0])

str

In [26]:
l

['ram', 34.46, (2, 3, 4)]

In [27]:
type(l)

list

In [28]:
l[1]

34.46

In [30]:
type(l[1])

float

In [31]:
l[2]

(2, 3, 4)

In [32]:
type(l[2])

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

Answer no.2

(i)

In [1]:
var1 = ''

In [2]:
type(var1)

str

(ii)

In [3]:
var2 = '[DS,ML,Python]'

In [4]:
type(var2)

str

(iii)

In [5]:
var3 = ['DS','ML','Python']

In [6]:
type(var3)

list

(iv)

In [7]:
var4 = 1.

In [8]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer no.3

In [9]:
a = 7
b = 2
# division
print ('Division: ', a / b) 
# modulo
print ('Modulo: ', a % b)  
# floor division
print ('Floor Division: ', a // b)
# a to the power b
print ('Power: ', a ** b)

Division:  3.5
Modulo:  1
Floor Division:  3
Power:  49

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer no.4

In [12]:
data_list = [10, "Hello", 3.14,b"Hello", [1, 2, 3], {"name": "John", "age": 30}, None, (1, 2, 3), False,3+7j]

for element in data_list:
    print(f"Element: {element}, Data Type: {type(element).__name__}")

Element: 10, Data Type: int
Element: Hello, Data Type: str
Element: 3.14, Data Type: float
Element: b'Hello', Data Type: bytes
Element: [1, 2, 3], Data Type: list
Element: {'name': 'John', 'age': 30}, Data Type: dict
Element: None, Data Type: NoneType
Element: (1, 2, 3), Data Type: tuple
Element: False, Data Type: bool
Element: (3+7j), Data Type: complex

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Answer no.5

In [13]:
def divisible_count(A, B):
    count = 0
    while A >= B:
        A -= B
        count += 1
    return count
A = 30
B = 5

if B != 0:
    result = divisible_count(A, B)
    print(f"{A} is divisible by {B} {result} times.")
else:
    print("The divisor (B) should not be zero.")

30 is divisible by 5 6 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Answer no.6

In [15]:
data_list = [12, 7, 21, 36, 45, 13, 27, 90, 15, 8, 33, 72, 50, 9, 63, 18, 11, 81, 30, 24, 42, 17, 55, 22, 88]
for element in data_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
21 is divisible by 3.
36 is divisible by 3.
45 is divisible by 3.
13 is not divisible by 3.
27 is divisible by 3.
90 is divisible by 3.
15 is divisible by 3.
8 is not divisible by 3.
33 is divisible by 3.
72 is divisible by 3.
50 is not divisible by 3.
9 is divisible by 3.
63 is divisible by 3.
18 is divisible by 3.
11 is not divisible by 3.
81 is divisible by 3.
30 is divisible by 3.
24 is divisible by 3.
42 is divisible by 3.
17 is not divisible by 3.
55 is not divisible by 3.
22 is not divisible by 3.
88 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer no.7

Understanding the mutability and immutability of data types is crucial because it impacts how data is stored and modified in memory, as well as how objects are passed between functions. Immutable objects are safe from unintentional side effects, while mutable objects need to be handled carefully to avoid unexpected changes.

Mutability

In [16]:
numbers = [1, 2, 3, 4]
numbers.append(5)  
print(numbers)

[1, 2, 3, 4, 5]

Immutability

In [17]:
name = "John"
new_name = name.replace("John", "Jane")  
print(name)      
print(new_name)

John
Jane